
.container {
  padding: 16px;
  background-color: white;
}


input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

input:focus{
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #5383d3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

#psw{
    position: relative;
}

#passtip{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#ConteurNom{
    display: inline-block;
    padding-left: 20px;
}

#ConteurPrenom{
    display: inline-block;
    padding-right: 20px;
}

.container{
    width: 600px;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .container{
        width: 80%;
    }
    #ConteurNom{
        display: block;
        padding-left: 0px;
        width: 100%;
    }

    #ConteurPrenom{
        display: block;
        padding-right: 0px;
        width: 100%;
    }
}